.main {
  font-family:serif;
  background-color: #f3f372;
}
h1 {
  color: #ff0000;
  font-size: 40px;
  height: 80px;
  width: 200px;
}

ul {
  color: #ff0000;
}

.selected {
  color: #ff0000;
  font-size: 40px;
}